<div class="ui menu">
    <a class="active item" href="{{ url_for('index') }}">
        <i class="home icon"></i> Home
    </a>
    <a class="item" href="{{ url_for('movies') }}">
        <i class="record icon"></i> Films
    </a>
    <a class="item">
        <i class="record icon"></i> Series
    </a>
    <div class="right menu">
        <div class="borderless vertically fitted item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        {% if context.user %}
        <div class="ui dropdown item">
            <i class="user icon"></i> {{ context.user }}
            <div class="menu">
                <div class="header">Administration</div>
                <a class="item" href="{{ url_for('movie.index_view') }}"><i class="record icon"></i> Films</a>
                <a class="item" href="{{ url_for('serie.index_view') }}"><i class="record icon"></i> Séries</a>
                <a class="item" href="{{ url_for('book.index_view') }}"><i class="book icon"></i> Livres</a>
                <div class="divider"></div>
                <a class="item" href="{{ url_for('review.index_view') }}"><i class="announcement icon"></i> Critiques</a>
                <a class="item" href="{{ url_for('category.index_view') }}"><i class="grid layout icon"></i> Categories</a>
                <div class="divider"></div>
                <a class="item" href="https://analytics.depado.eu" target="_blank"><i class="dashboard icon"></i> Statistiques</a>
                <div class="divider"></div>
                <div class="header">Utilisateur</div>
                <a class="item" href="{{ url_for('logout') }}"><i class="power icon"></i> Déconnexion</a>
            </div>
        </div>
        {% else %}
        <div class="item"><a href="{{ url_for('login') }}"> Connexion</a></div>
        {% endif %}
    </div>
</div>
