{% macro render_menu_item(classname, friendly_name, plural, icon) %}
    <div class="ui dropdown item">
        <i class="{{ icon }}"></i> {{ plural | capitalize }}
        <div class="menu">
            <div class="item"><i class="thumbs up icon"></i> Meilleurs Critiques</div>
            <div class="item"><i class="thumbs down icon"></i> Pires Critiques</div>
            <div class="item"><i class="wait icon"></i> Dernières Critiques</div>
            <div class="ui left icon input">
                <i class="search icon"></i>
                <input name="search" placeholder="Chercher un {{ friendly_name }}..." type="text">
            </div>
        </div>
    </div>
{% endmacro %}

<div class="ui menu">
    <a class="item" href="{{ url_for('index') }}">
        <i class="home icon"></i> Home
    </a>
    {{ render_menu_item("movie", "film", "films", "record icon") }}
    {{ render_menu_item("serie", "série", "séries", "record icon") }}
    {{ render_menu_item("book", "livre", "livres", "book icon") }}
    {{ render_menu_item("game", "jeu", "jeux", "game icon") }}
    <div class="right menu">
        <div class="borderless vertically fitted item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        {% if context.user %}
        <div class="ui dropdown item">
            <i class="user icon"></i> {{ context.user }}
            <div class="menu">
                <div class="header">Administration</div>
                <a class="item" href="{{ url_for('movie.index_view') }}"><i class="record icon"></i> Films</a>
                <a class="item" href="{{ url_for('serie.index_view') }}"><i class="record icon"></i> Séries</a>
                <a class="item" href="{{ url_for('book.index_view') }}"><i class="book icon"></i> Livres</a>
                <a class="item" href="{{ url_for('game.index_view') }}"><i class="game icon"></i> Jeux</a>
                <div class="divider"></div>
                <a class="item" href="{{ url_for('review.index_view') }}"><i class="announcement icon"></i> Critiques</a>
                <a class="item" href="{{ url_for('category.index_view') }}"><i class="grid layout icon"></i> Categories</a>
                <a class="item" href="{{ url_for('platform.index_view') }}"><i class="database icon"></i> Plateformes</a>
                <div class="divider"></div>
                <a class="item" href="https://analytics.depado.eu" target="_blank"><i class="dashboard icon"></i> Statistiques</a>
                <div class="divider"></div>
                <div class="header">Utilisateur</div>
                <a class="item" href="{{ url_for('logout') }}"><i class="power icon"></i> Déconnexion</a>
            </div>
        </div>
        {% else %}
        <div class="item"><a href="{{ url_for('login') }}"> Connexion</a></div>
        {% endif %}
    </div>
</div>
